.DS_Store
.vscode
*.js.map
app/**/*.js
hooks/
node_modules/
platforms/
app/views/.DS_Store
app/views/list/*.js
app/views/login/*.js

app/app.js
app/bundle-config.js
app/common/*.js
app/tns_modules/

.idea/
mkmf.log
package-lock.json
.nsbuildinfo