.container {
    padding-left: 50;
    padding-right: 50;
}
 
Button {
    background-color: #0036ac; 
    color: #fff;
    margin-bottom: 7pt;
    margin-top: 10pt;
}

.error-label {
    color: red;
    font-size: 11;
}