.container {
    padding-left: 40;
    padding-right: 40;
 }
 
 .group {
     padding: 5pt;
 }
 
 Button {
     background-color: #0036ac;
     color: #fff;
     margin-bottom: 10pt;
 }

 Button:disabled {
    background-color: #d3d0d0;
}

 .error-label {
     color: red;
     font-size: 11;
 }